th, td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

th tr{
  border-bottom:2px solid #111;
}

tbody tr:hover{
  box-shadow: #1b3a9226 0 5px 20px 0;
  border-radius: 4px;
}

tbody{
  top:2rem;
  overflow-y: auto;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th tr{
  border-collapse: collapse;
}

th{
  background: #fff;
  font-weight:400;
  font-size:larger;
  border:2px solid #111;
}

.App thead th{ 
    position: sticky;
    top: 10px;
    border:2px solid #111;
}

/* .LoadButton{
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

@media screen and (max-width: 600px) {
  .App{
    font-size:0.9rem;
  }
  h1{
    font-size:large!important;
  }
  th{
    font-size:small!important;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width:601px ) and (max-width: 900px) {
  .App{
    font-size:0.9rem;
  }
  th, td {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


