th, td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

tbody tr:hover{
  box-shadow: #1b3a9226 0 5px 20px 0;
  border-radius: 4px;
}

tbody{
  top:2rem;
  overflow-y: auto;
}

table{
  width: 100%;
}

th{
  background: #fff;
  font-weight:400;
  font-size:larger;
  border-bottom:2px solid #111;
}

.App thead th{ 
    position: sticky;
    top: 0;
}

@media screen and (max-width: 600px) {
  .App{
    font-size:0.9rem;
  }
  h1{
    font-size:large!important;
  }
  th{
    font-size:small!important;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width:601px ) and (max-width: 900px) {
  .App{
    font-size:0.9rem;
  }
  th, td {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


